html, body {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}
/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 5px 16px;
}

.links {
  display: flex;
  gap: 32px;
  list-style: none;
}

/* Main section */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Intro section */
.intro {
  flex: 1;
  display: flex;
  background-color: #1f2937;
  color: white;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 100px 100px;

}

.intro img{
  width: 400px;
  height: auto;
}

img {
  border-radius: 10%;
}


button {
  font-family: Roboto, sans-serif;
  background-color: #3882f6;
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 10px;
  font-weight: 600;


}

/* Info section */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 0px 100px;
  padding-bottom: 100px;
  

}

.info-header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0px;
  
}
.box-container {
  display: flex;
  justify-content: space-evenly;
}

.box-container img{
  height: 150px;
  width: 150px;
  margin-bottom: 10px;

}

.box-container .text{
  width: 150px;
}

/* Quote section */

.quote {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px;


  /* color: white; */
}

.quote .text{
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;

}
.quote .text-author {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 50px;
}

/* Ad section */

.ad {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;

}

.ad-box{
  flex:1;
  display: flex;
  /* flex-shrink: 0; */
  
  justify-content: space-around;
  padding: 25px 50px;
  /* gap: 50px; */
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
}

.ad-box button{
  border: 1px solid white ;
}
.ad-header{
  font-size: 18px;
  font-weight: bold;
}
.header a {
  color: white;
  text-decoration: none;
}
.hero {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

/* Footer */

.footer {
  /* display: flex; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 5px;
}

.cl{
  transform: scaleX(-1);
}

